aside {
    float: right;
    margin-top: 100px;
    background: #fff;

}
.container{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    flex-direction: row;
    
}
.sec {
    padding: 100px;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
}

.mxw880p {
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

p {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}


.contact {
    background: rgb(151, 19, 19);
}

.contact h3, .contact p {
    color: #fff;
}

/* #home .buttons{
    margin-top: 60px;
  }
  
  #home .buttons a{
    display: inline-block;
    margin: 15px 30px;
    color: #48dbfb;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid #48dbfb;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
  }
  
  #home .buttons a:hover,
  #home .buttons a:nth-child(2)
  {
    background-color: #48dbfb;
    color: #fff;
  } */





.contactForm {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

.contactForm form {
    width: 100%;
}

.contactForm .row100 {
    display: flex;
    width: 100%;
}

.contactForm .row100 .inputBx50 {
    width: 50%;
    margin: 0 20px;
}

.contactForm .row100 .inputBx100 {
    width: 100%;
    margin: 0 20px;
}

.contactForm .row100 input, .contactForm .row100 textarea {
    display: inline-block;
    align-items: center;
    margin: 15px 30px;
    color: #48dbfb;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid #48dbfb;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
}

.contactForm .row100 input[type="submit"]:hover{
    background-color: #48dbfb;
    color: #fff;
}
.contactForm .row100 textarea {
    height: 100px;
}

.contactForm .row100 input::placeholder, .contactForm .row100 textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.contactForm .row100 input[type="submit"] {
    background: #fff;
    color: #000;
    max-width: 200px;
    margin: none;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
}


.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.sci ul {
    display: flex;
}

.sci ul li {
    list-style: none;
}

.sci ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}

.sci ul li a img {
    filter: invert(1);
    max-width: 40px;
}

.sci ul li a:hover img {
    opacity: 0.5;
}
.toggle {
    display: none;
}

