@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 1000px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1;
    transition: 0.6s;
    
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid rgb(0, 0, 0, .1);
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
}

header.sticky .logo, header.sticky ul li a {
    color: #000;
}

.sec {
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
}

.mxw880p {
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

p {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #000;
    text-decoration: none;
    color: #fff;
}


.workBx {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 21px;
}

.workBx .form {
    width: 250px;
    min-height: 300px;
    text-align: center;
    border: 1px solid #48dbfb;
    border-radius: 6px;
    margin: 20px 0;
    padding: 40px 20px;
    color: #000;
    cursor: pointer;
    transition: .3s linear;
}

.workBx .form:hover {
    background-color: #48dbfb;
}

.workBx .form a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.workBx .form:hover a {
    color: rgba(255, 255, 255, 1);
}
.workBx .form button{
    color: #48dbfb;
    font-size: 20px;
    margin-top: 60px;
    transition: .3s linear;
}
.workBx .form:hover button{
    color: #000;
}

.contact {
    background: #000;
}

.contact h3, .contact p {
    color: #fff;
}

.contactForm {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

.contactForm form {
    width: 100%;
}

.contactForm .row100 {
    display: flex;
    width: 100%;
}

.contactForm .row100 .inputBx50 {
    width: 50%;
    margin: 0 20px;
}

.contactForm .row100 .inputBx100 {
    width: 100%;
    margin: 0 20px;
}

.contactForm .row100 input, .contactForm .row100 textarea {
    position: relative;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: transparent;
    width: 100%;
    padding-top: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}

.contactForm .row100 textarea {
    height: 100px;
}

.contactForm .row100 input::placeholder, .contactForm .row100 textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.contactForm .row100 input[type="submit"] {
    background: #fff;
    color: #000;
    max-width: 100px;
    margin: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
}

.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.sci ul {
    display: flex;
}

.sci ul li {
    list-style: none;
}

.sci ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}

.sci ul li a img {
    filter: invert(1);
    max-width: 40px;
}

.sci ul li a:hover img {
    opacity: 0.5;
}

.copyright a {
    color: #fff;
}

.toggle {
    display: none;
}

